force-app/main/default/flows/V_AtualizaYoubetQtdeLancesEParticipanteUltimoLance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FieloPLT__Reward__r.V_TipoRegistroTextual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leiloes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Lance Realizado Youbet</label>
        </rules>
    </decisions>
    <description>Atualiza no Youbet a qtde e valor total de Lances Realizados e Participante do Último Lance</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
ISNULL([FieloPLT__RedemptionItem__c].FieloPLT__Reward__c.V_TotalBetcoinsLances__c),
[FieloPLT__RedemptionItem__c].FieloPLT__Quantity__c,

[FieloPLT__RedemptionItem__c].FieloPLT__Reward__c.V_TotalBetcoinsLances__c + [FieloPLT__RedemptionItem__c].FieloPLT__Quantity__c

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_6142839988</name>
        <dataType>Number</dataType>
        <expression>IF(
ISNULL({!myVariable_current.FieloPLT__Reward__r.V_TotalBetcoinsLances__c}),
{!myVariable_current.FieloPLT__Quantity__c},

{!myVariable_current.FieloPLT__Reward__r.V_TotalBetcoinsLances__c} + {!myVariable_current.FieloPLT__Quantity__c}

)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[FieloPLT__RedemptionItem__c].FieloPLT__Redemption__c.FieloPLT__Member__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_7340474730</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.FieloPLT__Redemption__r.FieloPLT__Member__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(

ISNULL([FieloPLT__RedemptionItem__c].FieloPLT__Reward__c.V_QtdeLancesRealizados__c), 1,
[FieloPLT__RedemptionItem__c].FieloPLT__Reward__c.V_QtdeLancesRealizados__c + 1
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_0634466905</name>
        <dataType>Number</dataType>
        <expression>IF(

ISNULL({!myVariable_current.FieloPLT__Reward__r.V_QtdeLancesRealizados__c}), 1,
{!myVariable_current.FieloPLT__Reward__r.V_QtdeLancesRealizados__c} + 1
)</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>V_AtualizaYoubetQtdeLancesEParticipanteUltimoLance-11_InterviewLabel</interviewLabel>
    <label>Atualiza no Youbet a qtde e valor total de Lances Realizados e Participante do Último Lance</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>FieloPLT__RedemptionItem__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[FieloPLT__RedemptionItem__c].Prêmio/Leilão</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Atualiza Qtde de Lances Realizados</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.FieloPLT__Reward__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Qtde de Lances Realizados</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>V_QtdeLancesRealizados__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_0634466905</elementReference>
            </value>
        </inputAssignments>
        <object>FieloPLT__Reward__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[FieloPLT__RedemptionItem__c].Prêmio/Leilão</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Atualiza Participante do Último Lance</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.FieloPLT__Reward__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Participante do Último Lance</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>FieloPLT__Member__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>V_ParticipanteUltimoLance__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_7340474730</elementReference>
            </value>
        </inputAssignments>
        <object>FieloPLT__Reward__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[FieloPLT__RedemptionItem__c].Prêmio/Leilão</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Atualiza Valor Total Betcoins dos Lances</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.FieloPLT__Reward__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total Betcoins dos Lances</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>V_TotalBetcoinsLances__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_6142839988</elementReference>
            </value>
        </inputAssignments>
        <object>FieloPLT__Reward__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FieloPLT__RedemptionItem__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FieloPLT__RedemptionItem__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
